.hero {
  background-image: url(../images/the-flatiron-building.png);
}

body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: white;
}

h1,
h2 {
  font-weight: bold;
}

#designed {
  color: white;
}

.btn {
  color: white;
  font-size: 18px;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}
